/Calculadora_Cliente (1)/Calculadora Cliente/nbproject/private/
/Calculadora_Servidor (1)/Calculadora_Servidor/nbproject/private/
/Calculadora Cliente/nbproject/private/
/Calculadora_Servidor/nbproject/private/
/Calculadora_Servidor/build/
/Calculadora Cliente/build/
/Laboratorio2/Jar/Jar/target/
/Laboratorio2/LabWeb/LabWeb/LabWeb/build/
/Laboratorio2/LabWeb/LabWeb/LabWeb/nbproject/private/